*{
    padding        : 0;
    margin         : 0;
    outline        : none;
    box-sizing     : border-box;
    text-decoration: none;
    list-style-type: none;

}

.container{
    /* padding-left: 40%; */
    background-color: rgb(205, 248, 248);
    padding-top: 10%;
    height: 100vh;
}

.heading{
    font-size: 3rem;
    padding-left: 20%;
}

.qusetion1{
    padding-top: 2%;
    /* background-color: teal; */
}

.sellerQInput{
    height: 40px;
    width: 450px;
}

.input{
    padding-left: 20px;
    padding-left: 30%;
}
textarea{
    width: 400px;
}

.submit{
    padding-left: 60%;
    padding-top: 5%;
    /* background-colo; */
}

a{
    background-color: teal;
    font-size: 30px;
    padding: 10px;
    color: #000;
}

@media(max-width:650px){
    .heading{
        font-size: 2rem;
        padding-left: 10%;
    }
    .input{
        padding-left: 10px;
        padding-left: 30%;
    }

    .sellerQInput{
        height: 40px;
        width: 250px;
    }
}

@media(max-width:569px){
    .heading{
        font-size: 2rem;
        padding-left: 10%;
    }
    .input{
        padding-left: 10px;
        padding-left: 30%;
    }

    .sellerQInput{
        height: 40px;
        width: 250px;
    }

    textarea{
        width: 300px;
    }
    
}

@media(max-width:569px){
    .heading{
        font-size: 2rem;
        padding-left: 10%;
    }
    .input{
        padding-left: 10px;
        padding-left: 30%;
    }

    .sellerQInput{
        height: 40px;
        width: 250px;
    }

    textarea{
        width: 200px;
    }
    
}


@media(max-width:569px){
    .heading{
        font-size: 2rem;
        padding-left: 10%;
    }
    .input{
        padding-left: 10px;
        padding-left: 30%;
    }

    .sellerQInput{
        height: 40px;
        width: 200px;
    }

    textarea{
        width: 200px;
    }
    
}